<?xml version="1.0" encoding="GBK" standalone="no"?>
<Config>

<DataType>
<StructName>float</StructName>
<Simple>float</Simple>
</DataType>
<DataType>
<StructName>boolean</StructName>
<Simple>int</Simple>
</DataType>
<DataType>
<StructName>String</StructName>
<Simple>int</Simple>
</DataType>

<CapacityType>
探测能力 攻击能力 打击能力</CapacityType>

<DataType>
<StructName>RodarAttackCapability</StructName>
<Simple>float</Simple>
<Simple>int</Simple>
<Simple>float</Simple>
<Simple>float</Simple>
</DataType>
<DataType>
<StructName>DectectCapability</StructName>
<Simple>float</Simple>
<Simple>float</Simple>
<Simple>float</Simple>
<Simple>int</Simple>
</DataType>
<DataType>
<StructName>CommunityCapability</StructName>
<Simple>float</Simple>
<Simple>int</Simple>
<Simple>float</Simple>
<Simple>float</Simple>
</DataType>

<DataType>
<StructName>CalculatCapability</StructName>
<Simple>int</Simple>
<Simple>float</Simple>
<Simple>float</Simple>
</DataType>
<MeasureType>
米 平方米 立方米 % 无 米/秒 度 海里 微米
</MeasureType>
<DataType>
<StructName>MissileAttackCapability</StructName>
<Simple>float</Simple>
<Simple>float</Simple>
<Simple>float</Simple>
<Simple>float</Simple>
<Simple>int</Simple>
</DataType>
<DataType>
<StructName>int</StructName>
<Simple>int</Simple>
</DataType>
</Config>
